<div class="header-menu">
  <input type="text" [placeholder]="placeholderciudad" [(ngModel)]="region" />
  <button class="margin-10px-letf" (click)="displayDataTegus()">Usar mi hubicación</button>
  <button class="margin-10px-letf" (click)="displayData()">Buscar</button>
</div>
<div class="weather-box" *ngIf="consulta">
  <div class="weather-region-title">
    <span style="font-weight: bold">Region:</span>
    {{ data.region }}
  </div>
  <div style="display: flex">
    <app-weatherbox
      style="margin-right: 10px"
      *ngFor="let w of data.next_days"
      [day]="w.day"
      [img]="w.iconURL"
      [descripcion]="'Min:' + w.min_temp.c + ', Max:' + w.max_temp.c"
    ></app-weatherbox>
  </div>
  <!-- <img src="../assets/" alt=""> -->
</div>
